<div class="container">
<div class="mt-3">
     <h3>Users List</h3>
     <h6>ngOnChanges</h6>
     <button class="btn btn-primary" (click)="onNameChanged()">Change Name</button>
     <br>
     <br>
     <h6> ngOnDestroy</h6>
     <button class="btn btn-danger" (click)="OnDeleteComponet()">Delete Components</button>
     <app-user *ngFor="let user of userlist" [user]="user" [name]="name">
         <p>Username:{{ user}}</p>
        
         <h6>Angular property binding & Event binding</h6>
        <button class="btn btn-primary" [disabled]="!allowNewuser" (click)="changeUserCreatedStatus()"> Add user</button>
        <div>{{userCreatedStatus}}</div>
         </app-user></div>
<br>
<br>


<div class="form-group">
    <h6>One way Data binding</h6>
    <label for="gender">Gender</label>
    <select class="form-control" id="gender" name="gender" [ngModel]="gender">
        <option value="select">--Select--</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
</div>
<div class="form-group">
    <h6>Two way data binding</h6>
    <label>About</label>
    <textarea class="form-control" row="3" name="about" [(ngModel)]="about"></textarea>
</div>

<div>{{about}}</div>
<div class="mt-3">
    <button type="submit" class="btn btn-warning" [disabled]="">Submit</button>
</div>
</div>