
<div class="container" style="margin-top: 20px;">
  <p-table class="table table-striped" [value]="EmployeeList">
      <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Mobile</th>
            <th>Mail</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
          <tr >
            <td>{{employee.id}}</td>
              <td>{{employee.ename}}</td>
              <td>{{employee.edept}}</td>
              <td>{{employee.mobile}}</td>
              <td>{{employee.mail}}</td>
           
              <td>{{employee.dob | date:'d/M/yyyy'}}</td>
              
              <td>{{employee.gender}}</td>
              <td>
                  <a pButton pRipple type="button"  [routerLink]="['/update-employee', employee.id]" icon="pi pi-user-edit"
                      class="btn btn-primary">Edit</a> 
                  <a pButton pRipple type="button" (click)="remove(employee.id)"
                      icon="pi pi-trash" class="btn btn-danger text-white">Delete</a>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
          <a [routerLink]="['/create']" class="btn btn-primary">Add New</a>
      </ng-template>
  </p-table>
</div>