<nav class="navbar navbar-expand-sm navbar-light " style = "background-color: rgb(11, 82, 139);">
    <a class="navbar-brand text-white" href="#"><h4>Employee Management System</h4></a>
    <div class="collapse navbar-collapse" id="navbarsupportconttent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link text-white"routerLink="/create">Add New Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white"routerLink="/all">View All</a>
            </li>
        
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
